<div class="extra-details">
  <div class="data-item">
    <span class="name">Name:</span>
    <span class="value">{{breachData.Name}}</span>
  </div>
  <div class="data-item">
    <span class="name">Domain:</span>
    <span class="value">{{breachData.Domain}}</span>
  </div>
  <div class="data-item">
    <span class="name">Added Date:</span>
    <span class="value">{{breachData.AddedDate | date}}</span>
  </div>
  <div class="data-item">
    <span class="name">Pwn-Count:</span>
    <span class="value">{{breachData.PwnCount | number}}</span>
  </div>
</div>
