:host {

  .app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .icon-container {
      padding: 10px 0;
      position: sticky;
      top: 0;
      text-align: center;
      z-index: 1;
      background-color: inherit;

      i {
        cursor: pointer;
      }
    }
  }
}

:host-context(.dark-theme) {
  .app {
    background-color: #222;

    i {
      color: white;
    }
  }
}
